

/*= General
----------------------------------------------*/

.btn-primary {
    color: #002e5b;
    background-color: #fde428;
    border-color: #fde428;
}
.btn-primary:hover {
    color: #002e5b;
    background-color: #ffed64;
    border-color: #ffed64;
}
.bg-primary {
    background-color: #002e5b !important;
    color: #ffffff;
}

/*= preview-post
----------------------------------------------*/
.preview-post > h2 {
    font-weight: bold;
    font-size: 31px;
    color: #002e5b;
    text-transform: uppercase;
}
.preview-post > h3 {
    font-weight: bold;
    font-size: 21px;
    color: #002e5b;
    text-transform: uppercase;
}

.preview-post > span {
    color: #666666;
    font-size: 21px;
}

.preview-post > p {
    color: #333333;
    font-size: 16px;
}

.preview-post > a {
    font-size: 16px;
    color: #002e5b;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}

/*= Section CTA
----------------------------------------------*/

.address {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.07);
}
